footer {
   background-color: var(--color-primary);

    div.container {
        padding: 4rem 2rem 2rem 2rem;

        div.image {
            display: flex;
            align-items: center;
            margin-bottom: 2rem;

            svg {
                color: #fff;
                width: 5rem;
                height: 5rem;
            }

            span {
                margin-left: 2rem;
                color: #fff;
                font-weight: 700;
                font-size: 2.4rem;
            }
        }

        div.nav {
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            nav {
                width: 100%;
                display: flex;
                margin-top: 2rem;
                margin-bottom: 2rem;
                flex-wrap: wrap;

                a {
                    width: 33%;
                    text-decoration: none;
                    color: #fff;
                    font-size: 1.4rem;
                    font-weight: 500;
                    margin-bottom: 2rem;
                }

                @media(min-width: 720px){
                    width: 75%;
                    flex-wrap: nowrap;

                    a {
                        width: auto;
                        margin-right: 6rem;
                        margin-bottom: 0;
                    }
                }
            }

            div.socials {
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: center;
                margin-bottom: 2rem;
                a {
                    display: inline-flex;
                    width: 1.8rem;
                    height: 1.8rem;
                    text-decoration: none;
                    margin: 2rem;

                    svg {
                        transition: var(--effect);
                        color: #fff;
                        width: 1.8rem;
                        height: 1.8rem;
                    }

                    &:hover {
                        svg {
                            color: var(--color-text-200);
                        }

                    }
                }

                @media(min-width: 720px){
                    width: 25%;
                    justify-content: right;
                    a {
                        margin: 0 0 0 2rem;
                    }
                }
            }
        }

        div.legal {
            display: flex;
            justify-content: left;
            padding-top: 2rem;
            border-top: 1px solid rgba(255, 255, 255, 0.5);

            a {
                text-decoration: none;
                color: #fff;
            }

            span {
                font-size: 1.2rem;
                color: #fff;
                opacity: 0.5;
                margin-right: 2rem;
            }

            span.websolution {
                margin-left: auto;
                width: 8rem;
                height: 1.2rem;
                opacity: 0.5;
                color: #fff;

                svg {
                    width: 8rem;
                    height: 1.2rem;
                }
            }
        }

    }
}
