div.ribbon {
    background-color: var(--color-text);
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;

    div.container {
        justify-content: center;
        align-items: center;
        width: 100%;
        display: flex;
        padding: 0 2rem;
        height: 3.7rem;

        div.contact-information {
            display: none;
            align-items: center;

            div.email a {
                color: #fff;
                text-decoration: none;
                display: flex;
                svg {
                    width: 2rem;
                    height: 1.4rem;
                    margin-right: 1.25rem;
                }
            }
        }

        div.more-information {
            display: flex;

            div.coming-soon {
                margin-right: 2.5rem;
                display: none;
                @media(min-width: 960px){
                    display: block;
                }

            }

            div.benefit {
                margin-right: 2.5rem;
            }

            div.rating {
                color: #fff;
                font-size: 1.2rem;
            }
        }


    }

    @media(min-width: 960px){
        div.container {
            justify-content: space-between;

            div.contact-information {
                display: flex;
            }
        }
    }
}
