html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;

}

* {
    box-sizing: border-box;
    margin: 0;
    outline: none !important;
    padding: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

img {
    display: block;
    width: 100%;
}

svg {
    display: block;
}

html,
body {
    font-size: 0.625em;
}

body {
    font-size: 16px;
    min-width: 28rem;
}

input[type=text] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
