// padding
.padding-m {
    padding: var(--margin-m);
}

.padding-m-bottom-0 {
    padding: var(--margin-m);
    padding-bottom: 0;
}

.padding-m-top-0 {
    padding: var(--margin-m);
    padding-top: 0;
}

.padding-top-m {
    padding-top: var(--margin-m);
}

.padding-bottom-m {
    padding-bottom: var(--margin-m);
}

.padding-x-m {
    padding-left: var(--margin-m);
    padding-right: var(--margin-m);
}

.padding-y-m {
    padding-top: var(--margin-m);
    padding-bottom: var(--margin-m);
}

//margin
.margin-bottom-s {
    margin-bottom: var(--margin-s);
}

.margin-right-auto {
    margin-right: auto;
}

.margin-left-s {
    margin-left: var(--margin-s);
}

.margin-top-s {
    margin-top: var(--margin-s);
}

.margin-m {
    margin: var(--margin-m);
}

.margin-top-m {
    margin-top: var(--margin-m);
}

.margin-bottom-m {
    margin-bottom: var(--margin-m);
}

.margin-x-m {
    margin-left: var(--margin-m);
    margin-right: var(--margin-m);
}

.margin-y-m {
    margin-top: var(--margin-m);
    margin-bottom: var(--margin-m);
}
