* {
    --color-primary: #75BE9F;
    --color-primary-500: #4d9f7f;
    --color-primary-200: #EAF6EF;

    --color-secondary: #B9D9DD;
    --color-secondary-200 : #EEF7F8;

    --color-text: #4A4F6F;
    --color-text-200: #B4B6C3;
    --color-text-100: #8E9FC4;

    --color-grey: #EAEDF3;
    --color-grey-300: #ebedf1;
    --color-grey-500: #a5abb7;
    --color-grey-200: #F7FAFD;
    --color-grey-100: #f2f4f8;

    --color-background: #F7FAFD;
    --color-border: #F2F3F4;

    --color-green: #63B795;
    --color-green-200: #CEEDDD;
    --color-green-100: #c0e3ce;

    --color-orange: #F5AE1F;
    --color-orange-200: #FCF2DE;

    --color-purple: #5670E6;
    --color-purple-200: #DBE2FF;

    --color-blue: #1C697B;
    --color-blue-200: #BEFBF4;

    --color-red: #EB0016;
    --color-red-200: #FAE8E7;

    --color-error: #D82828;
    --color-error-200: #DDAEAF;

    --color-success: #00B830;
    --color-success-200: #B0E1C1;

    --color-modal-bg: rgba(34, 60, 121, 0.6);
}
